@import services.BoardPresenter

@(boardPresenter: BoardPresenter)

@main("Tic Tac Toe") {

<body>
<h1>Tic Tac Toe</h1>

<h3>@boardPresenter.gameType</h3>


<section class="board">
    @for((cell, index) <- boardPresenter.showBoard.zipWithIndex) {
    <div id="cell@index">
        <form method="post" action="/new-move" id="getposition">
            <input type="hidden" value="@index" name="position">
            <input type="submit" value="@cell">
        </form>
    </div>
    }
</section>


<div>@boardPresenter.gameStatus</div>

<form method="get" action="/game" id="next-move">
    <button><input type="submit" value="next moves"></button>
</form>

</body>
}