@import ttt.game.Marks
@import ttt.game.Board
@import ttt.game.GameEngine

@(board: List[List[String]], currentPlayer: String,  gameType: String, isFinished: Boolean, status: String)

@main("Tic Tac Toe") {

<body>
<h1>Tic Tac Toe</h1>

<p id="currentplayer">@currentPlayer's turn</p>

<table id="board">
    @for((row, index) <- board.zipWithIndex) {
        <tr>
            @for((cell, position) <- row.zipWithIndex) {
                <th class="cell">
                    @if(cell == " ") {
                        <form METHOD="post" action="/new-move">
                            <input type="hidden" value="@index" name="rowNumber"/>
                            <input type="hidden" value="@position" name="cellPosition"/>
                            <input type="submit" class="cellButton" value=" "/>
                        </form>
                    } else {
                        <p class="mark"> @cell<p/>
                    }
                </th>
            }
        </tr>
    }
</table>

<section id="gamestatus">
    @if(isFinished) {
        <p id="status">@status</p>
    }
</section>
</body>
}