@import services.BoardPresenter

@(boardPresenter: BoardPresenter)

@main("Tic Tac Toe") {

<head>
    @if(boardPresenter.gameIsInteractive) {
        <meta http-equiv="refresh" content="1"></head>
    }
<body>
<h1>Tic Tac Toe</h1>


<h3>@boardPresenter.gameType</h3>


<section class="board">
    @for((cell, index) <- boardPresenter.showBoard.zipWithIndex) {
    <div id="cell">
        <form method="post" action="/new-move" id="getposition">
            <input type="hidden" value="@index" name="position">
            <input type="submit" value="@cell" class="cell-button">
        </form>
    </div>
    @if(boardPresenter.isEndOfRow(index)) {
    <br/>
    }
    }
</section>


<div>@boardPresenter.gameStatus</div>

@if(boardPresenter.gameIsOver) {
    <a href="@routes.GameController.showMenus" >play again</a>
}

</body>
}