@(message: String, options: Map[String, String])

@main("Tic Tac Toe") {

<h1>Tic Tac Toe</h1>
<section id="boardSize">
    <form method="post" action="/new-board">
        <input type="radio" value="3 x 3" name="size"/>3 x 3<br/>
        <input type="radio" value="4 x 4" name="size"/>4 x 4<br/>
        <input type="submit" value="choose board"/>
    </form>
</section>

<section id="gametype">
    <form method="post" action="/new-game">
        @for(entry <- options) {
        <input type="hidden" value="@entry._2" name="name"/>
        <input type="hidden" value="@entry._1" name="type"/>
        <input type="radio" value="@entry._2"/>@entry._2<br/>
        }
        <input type="submit" value="play!"/>
    </form>
</section>

}
