@(message: String)

@main("Tic Tac Toe") {

    <h1>Tic Tac Toe</h1>
    <section>
        <form method="post" action="/new-game">
            <input type="hidden" value="Human v Human" name="name"/>
            <input type="hidden" value="1" name="type"/>
            <input type="submit" value="Human v Human"/>
        </form>

        <form method="post" action="/new-game">
            <input type="hidden" value="Perfect Player v Human" name="name"/>
            <input type="hidden" value="5" name="type"/>
            <input type="submit" value="Perfect Player v Human"/>
        </form>

        <form method="post" action="/new-game">
            <input type="hidden" value="Human v Perfect Player" name="name"/>
            <input type="hidden" value="4" name="type"/>
            <input type="submit" value="Human v Perfect Player"/>
        </form>

        <form method="post" action="/new-game">
            <input type="hidden" value="Perfect Player v Perfect Player" name="name"/>
            <input type="hidden" value="6" name="type"/>
            <input type="submit" value="Perfect Player v Perfect Player"/>
        </form>
    </section>

}
