@import services.GameMenuPresenter

@(message: String, menu: GameMenuPresenter)

@main("Tic Tac Toe") {

<h1>Tic Tac Toe</h1>

<h3>Board Size</h3>

<form method="post" action="@routes.GameController.newGame">

    <input type="radio" value="3" name="boardSize">3x3<br>
    <input type="radio" value="4" name="boardSize">4x4<br><br>

    <h3>Game Type</h3>

    @for(entry <- menu.showOptions) {

    <input type="radio" value="@entry._1" name="gameType">@entry._2<br>

    }
    <input type="submit" value="submit">
</form>

}
